<!DOCTYPE html>
<html ng-app="ionicApp">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

  <title>Swaiter - Order Now</title>
  
  <link href="http://code.ionicframework.com/1.0.0-beta.1/css/ionic.min.css" rel="stylesheet">
  <link href="style.css" rel="stylesheet">

  <script src="http://code.ionicframework.com/1.0.0-beta.1/js/ionic.bundle.min.js"></script>
  <script src="script.js"></script>
  
</head>

<body>

  <ion-nav-bar class="bar-positive nav-title-slide-ios7">
    <ion-nav-back-button class="button-icon ion-arrow-left-c"></ion-nav-back-button>
  </ion-nav-bar>

  <ion-nav-view animation="slide-left-right"></ion-nav-view>

  <script id="intro.html" type="text/ng-template">
    <ion-view title="Swaiter" hide-back-button="true">

      <ion-slide-box on-slide-changed="slideChanged(index)">
        <ion-slide>
          <h3></h3>
          <div id="logo">
            <img src="img/Swaiter.png">
          </div>
          <h3>
            Bienvenido a Swaiter
          </h3>
        </ion-slide>
        <ion-slide>
          <h3>Pedí en solo tres pasos!</h3>

          <div id="list">
            <h5></h5>
            <ol>
              <li>Explorá el menu</li>
              <li>Elegí tus platos</li>
              <li>Hacé tu pedido</li>
            </ol>
          </div>
        </ion-slide>
        <ion-slide>
          <div id="logo">
            <img src="img/Swaiter.png">
          </div>
          <div class="padding">
            <button class="button button-block button-positive" ng-click="startApp()">
              Empezá Yá
            </button>
          </div>
        </ion-slide>
      </ion-slide-box>

    </ion-view>
  </script>

  <script id="sign-in.html" type="text/ng-template">
    <ion-view title="Swaiter" hide-back-button="true">
      <ion-content>
        <div class="padding">
          <div class="list">
            <label class="item item-input big">
              <span class="input-label">Username</span>
              <input type="text" ng-model="user.username">
            </label>
            <label class="item item-input big">
              <span class="input-label">Password</span>
              <input type="password" ng-model="user.password">
            </label>
          </div>
          <div class="padding">
            <button class="button button-block button-positive" ng-click="signIn(user)">
              Iniciar Sesión
            </button>
          </div>
        </div>
      </ion-content>
    </ion-view>
  </script>

  <script id="forgot-password.html" type="text/ng-template">
    <ion-view title="Forgot Password">
      <ion-content padding="true">
        <p>
          Yeah this is just a demo showing how views can be shown without tabs, then you can navigate
          to views within tabs. Additionally, only one set of tabs needs to be written for all of the different views that should go inside the tabs. (Compared to written the same tab links in the footer of every view that's in a tab.)
        </p>
        <p>
          There's no username/password, just click
          the Sign-In button back a the sign-in view.
        </p>
        <p>
          Return to <a href="#/sign-in">Sign-In</a>.
        </p>
      </ion-content>
    </ion-view>
  </script>

   <script id="main-actions.html" type="text/ng-template">
    <ion-view title="Swaiter" hide-back-button="true">
      <ion-nav-buttons side="right">
        <button class="button button-clear no-animation"
                ng-click="cerrarSesion()">
          Cerrar Sesión
        </button>
      </ion-nav-buttons>  
      <ion-content>
        <div class="card">
          <div class="item item-text-wrap" style="text-align: center;">
           <h2>{{user.username}}</h2>
          </div>
        </div>
        <div class="padding">
          <button class="button button-block button-positive" ng-click="scan()">
            Ver Menú
          </button>
        </div>
      </ion-content>
    </ion-view>
  </script>

   <script id="menu.html" type="text/ng-template">
    <ion-view title="{{balneario.nombre}}">
    <ion-content>
      <div data-ng-show="restaurante != null" class="card">
            <div class="item item-text-wrap" style="text-align: center;">
             <h2>{{restaurante.nombre}}</h2>
             <p>{{restaurante.descripcion}}</p>   
            </div>
      </div>
      <div data-ng-show="error != null" class="card">
            <div class="item item-text-wrap" style="text-align: center;">
             <p>{{error}}</p>  
            </div>
      </div>
      <ion-refresher on-refresh="doRefresh()"   refreshing-icon="ion-refreshing">
    </ion-refresher>
      <ion-list>
        <ion-item ng-if="restaurante != null" ng-repeat="item in restaurante.platos" item="item" href="#/details/{{item.id}}" class="item item-thumbnail-left">
          <img ng-src="{{ item.img }}">
          <h2>{{ item.nombre }}</h2>
          <h4>{{ item.descripcion }}</h4>
          <p>$ {{item.precio}}</p>
        </ion-item>
      </ion-list>
    </ion-content>
    <ion-footer-bar align-title="center" class="bar-assertive">
      <h1 class="title" >Mi Pedido</h1>
      <div class="buttons" ng-click="modal.show()">
        <button class="button"><i class="icon ion-bag"></i></button>
      </div>
    </ion-footer-bar>
  </script>

  <script id="modal.html" type="text/ng-template">
    <div class="modal" ng-controller="ModalCtrl">
      <ion-header-bar class="bar bar-header bar-assertive">
        <h1 class="title">Mi Pedido</h1>
        <button data-ng-show="pedido != ''" class="button button-icon icon ion-ios7-minus-outline" ng-click="data.showDelete = !data.showDelete"></button>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Esconder</button>
      </ion-header-bar>
      <ion-content>

      <div data-ng-show="pedido == '' " class="card">
            <div class="item item-text-wrap" style="text-align: center;">
             <h2>No has agregado ningun plato al pedido</h2>  
            </div>
      </div>
        <div class="padding">
          <ion-list show-delete="data.showDelete" on-delete="onItemDelete(item)" option-buttons="itemButtons">
            <ion-item ng-if="pedido != '' " ng-repeat="item in pedido track by $index" item="item" class="item item-thumbnail-left">
            <img ng-src="{{ item.img }}">
            <h2>{{ item.nombre }}</h2>
            <h4>{{ item.descripcion }}</h4>
            <p>$ {{item.precio}}</p>
            </ion-item>
            <button class="button button-full button-assertive" data-ng-show="pedido != '' ">Realizar Pedido</button>
          </ion-list>
        </div>
      </ion-content>
    </div>
  </script>

   <script id="details.html" type="text/ng-template">
    <ion-view title="{{clicked.nombre}}">
    <ion-content>
      <div class="list card">
        <div class="item item-avatar">
           <img src="{{clicked.img}}"></img>
            <ion-list>
              <h2>{{clicked.nombre}}</h2>
              <h4>{{clicked.precio | currency}}</h4>
            </ion-list>

        </div>
        <div class="item tabs tabs-secondary tabs-icon-left" ng-controller="ModalCtrl">
          <a class="tab-item" ng-click="addPlato(clicked)">
            <i class="icon ion-plus-circled"></i>
            Agregar al pedido
          </a>
        </div>
        <div class="item item-body">
          <img class="full-image" src="img/thumbnail.png">
          <p>
            <h2>{{clicked.descripcion}}</h2>
          </p>
          <p>
            <a href="#" class="subdued">1 Like</a>
            <a href="#" class="subdued">5 Comments</a>
          </p>
        </div>

        <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" href="#">
            <i class="icon ion-thumbsup"></i>
            Like
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-chatbox"></i>
            Comment
          </a>
        </div>
      </div>
       <div class="card">
            <div class="item item-text-wrap" style="text-align: center;">
            <p></p>  
            </div>
      </div>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-assertive">
      <h1 class="title">Pedido</h1>
      <div class="buttons" ng-click="modal.show()">
        <button class="button"><i class="icon ion-bag"></i></button>
      </div>
    </ion-footer-bar>
  </script>

  <script id="tabs.html" type="text/ng-template">
    <ion-tabs class="tabs-icon-top tabs-positive">

      <ion-tab title="Home" icon="ion-home" href="#/tab/home">
        <ion-nav-view name="home-tab"></ion-nav-view>
      </ion-tab>

      <ion-tab title="About" icon="ion-ios7-information" href="#/tab/about">
        <ion-nav-view name="about-tab"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Sign-Out" icon="ion-log-out" href="#/sign-in">
      </ion-tab>

    </ion-tabs>
  </script>

  <script id="home.html" type="text/ng-template">
    <ion-view title="Home">
      <ion-content padding="true">
        <p>Example of Ionic tabs.Navigate to each tab, and
        navigate to child views of each tab and notice how
        each tab has its own navigation history.</p>
        <p>
          <a class="button icon icon-right ion-chevron-right" href="#/tab/facts">Scientific Facts</a>
        </p>
      </ion-content>
    </ion-view>
  </script>

  <script id="facts.html" type="text/ng-template">
    <ion-view title="Facts">
      <ion-content padding="true">
        <p>Banging your head against a wall uses 150 calories an hour.</p>
        <p>Dogs have four toes on their hind feet, and five on their front feet.</p>
        <p>The ant can lift 50 times its own weight, can pull 30 times its own weight and always falls over on its right side when intoxicated.</p>
        <p>A cockroach will live nine days without it's head, before it starves to death.</p>
        <p>Polar bears are left handed.</p>
        <p>
          <a class="button icon ion-home" href="#/tab/home"> Home</a>
          <a class="button icon icon-right ion-chevron-right" href="#/tab/facts2">More Facts</a>
        </p>
      </ion-content>
    </ion-view>
  </script>

  <script id="facts2.html" type="text/ng-template">
    <ion-view title="Also Factual">
      <ion-content padding="true">
        <p>111,111,111 x 111,111,111 = 12,345,678,987,654,321</p>
        <p>1 in every 4 Americans has appeared on T.V.</p>
        <p>11% of the world is left-handed.</p>
        <p>1 in 8 Americans has worked at a McDonalds restaurant.</p>
        <p>$283,200 is the absolute highest amount of money you can win on Jeopardy.</p>
        <p>101 Dalmatians, Peter Pan, Lady and the Tramp, and Mulan are the only Disney cartoons where both parents are present and don't die throughout the movie.</p>
        <p>
          <a class="button icon ion-home" href="#/tab/home"> Home</a>
          <a class="button icon ion-chevron-left" href="#/tab/facts"> Scientific Facts</a>
        </p>
      </ion-content>
    </ion-view>
  </script>

  <script id="about.html" type="text/ng-template">
    <ion-view title="About">
      <ion-content padding="true">
        <h3>Create hybrid mobile apps with the web technologies you love.</h3>
        <p>Free and open source, Ionic offers a library of mobile-optimized HTML, CSS and JS components for building highly interactive apps.</p>
        <p>Built with Sass and optimized for AngularJS.</p>
        <p>
          <a class="button icon icon-right ion-chevron-right" href="#/tab/navstack">Tabs Nav Stack</a>
        </p>
      </ion-content>
    </ion-view>
  </script>

  <script id="nav-stack.html" type="text/ng-template">
    <ion-view title="Tab Nav Stack">
      <ion-content padding="true">
        <p><img src="http://ionicframework.com/img/diagrams/tabs-nav-stack.png" style="width:100%"></p>
      </ion-content>
    </ion-view>
  </script>

</body>
</html>
