body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

.bar.bar-loading {
  display: block;
  height: 50px;
  /* starts right below a normal header */
  top: 44px;
  /* make the text centered vertically and horizontally */
  text-align: center;
  padding: 0;
  line-height: 50px;
  /* transition 'sliding down' (check below)*/
  -webkit-transition: 200ms all;
}

.slider {
  height: 100%;
  background-color: #ECEFFA;
  color: #5271FA;
  font-weight: 300;
}
.slider-slide {
  padding-top: 80px;
  background-color: #ECEFFA;
  color: #fff;
  text-align: center;
  font-weight: 300;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #5271FA;
}
.slider h3{
  color: #5271FA;
}
.slider-pager .slider-pager-page {
    display: inline-block;
    margin: 0px 3px;
    width: 15px;
    color: #5271FA;
    text-decoration: none;
    opacity: 0.3;
}
#logo {
  margin: 30px 0px;
}
#list {
  margin: 30px auto;
  width: 170px;
  font-size: 20px;
  color: #5271FA;
}
#list ol {
  margin-top: 30px;
}
#list ol li {
  margin: 10px 0px;
  list-style: decimal;
  text-align: left;
}