body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

.bar.bar-loading {
  display: block;
  height: 24px;
  /* starts right below a normal header */
  top: 44px;
  /* make the text centered vertically and horizontally */
  text-align: center;
  padding: 0;
  line-height: 24px;
  /* transition 'sliding down' (check below)*/
  -webkit-transition: 200ms all;
}